* {
    margin: 0;
    padding: 0;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .navbar h5 {
    font-size: 1.5vw;
  }
  
  .nav a {
    text-decoration: none;
    font-size: 1vw;
    padding-right: 2vw;
  }
  .register-box {
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13vh;
  }
  
  .red-box {
    width: 40vw;
    height: 10vh;
    background: linear-gradient(
      90.1deg,
      #46052d -1.59%,
      #46052d -1.58%,
      #500732 14.15%,
      #5e0933 31.58%,
      #610834 46.9%,
      #6a0b37 62.75%,
      #991747 76.48%,
      #b32346 93.91%
    );
    display: flex;
    align-items: center;
  }
  
  .red-box h5 {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    padding-left: 2vw;
  }
  
  .white-box {
    width: 60vw;
    height: 42vh;
    background-color: #ffff;
    box-shadow: 0px 4px 90px 2px rgba(165, 164, 164, 0.25);
    border-radius: 10px;
  }
  